body {
	background: #f9f9f9;
	font-family: Tahoma;
}

.wrapper {
	background: #fff;
	box-shadow: 0 0 5px 1px #e1e1e1;
	margin-left: 11.5%; 
	width: 78.5%;
}

/*HEADER*/
header {
	margin: 0 0 40px 45px;
	width: 91.1%;
}

.logo {
	padding: 50px 0 38px 0; 
}

.headerMenu {
	background: #4b4b4b; /* For browsers that do not support gradients */ 
	background: -webkit-linear-gradient(0deg, #444343, #5e5e5e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(0deg, #444343, #5e5e5e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(0deg, #444343, #5e5e5e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, #444343, #5e5e5e); /* Standard syntax (must be last) */
}

.headerMenu:after {
	content: '';
	display: block;
	clear: both;
}

.headerMenu li {
	float: left;
	text-align: center;
	width: 100px;
}

.headerMenu a {
	color: #fff;
	display: inline-block;
	font-size: 14.67px;
	text-decoration: none;
	padding: 13px 0;
	width: 100%;
	text-shadow: 1px 1px rgba(0, 0, 0, .5);
}

.headerMenu li:hover {
	background: #303030; /* For browsers that do not support gradients */ 
	background: -webkit-linear-gradient(0deg, #2e2e2e, #4a4a4a); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(0deg, #2e2e2e, #4a4a4a); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(0deg, #2e2e2e, #4a4a4a); /* For Firefox 3.6 to 15 */
  background: linear-gradient(0deg, #2e2e2e, #4a4a4a); /* Standard syntax (must be last) */
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	box-sizing: border-box;
}

/*MAIN*/
.main {
	display: -webkit-flex; /* Safari */
  display: flex;
	margin: 0 0 40px 45px;
	width: 91.3%;
}

.mainNav {
	-webkit-flex-basis: 29.8%; /* Safari 6.1+ */
  flex-basis: 29.8%;
}

.mainSection {
	-webkit-flex-basis: 70%; /* Safari 6.1+ */
	flex-basis: 70%;
}

.mainMenu {
	border: 1px solid #c8c8c8;
	width: 82.5%;
}

.mainMenu li {
	border-bottom: 1px solid #c8c8c8;
}

.mainMenu a {
	color: #6a6a6a;
	display: block;
	font-size: 13.33px;
	letter-spacing: 1px;
	padding: 12.8px 22px;
	text-decoration: none;
}

.mainMenu li:hover a {
	background: #f9f9f9;
	color: #4a4a4a;
	/*text-indent: 10px;*/
	padding-left: 30px;
	text-decoration: underline;
	-webkit-transition: .6s;  	 /* Safari */
	transition: .5s;
}

.mainMenu li:last-child {
	border-bottom: none;
}

.bicycle {
	border: 1px solid #c8c8c8;
	width: 100%;
}

.bicycleImg {
	display: block;
	max-width: 74%;
	margin: 45px auto 45px auto;
}

.mainText {
	color: #363636;
	font-size: 13px;
	letter-spacing: .5px;
	line-height: 21px;
	margin: 20px;
	padding: 15px 15px 0 6px;
}

/*FOOTER*/
footer {
	margin-left: 45px;
	padding-bottom: 58px;
	width: 91.3%;
}

.footerMenu {
	background: #e1e1e1;
	display: -webkit-flex; /* Safari */
	display: flex;
	height: 40px;
}

.footerMenu a {
	color: #4f4e4e;
	font-size: 13px;
	line-height: 40px;
	padding-left: 25px;
	text-decoration: none;
	display: block;
}

.footerMenu li {
	-webkit-flex-grow: 1;		/* flex for  Safari 6.1+ */
	flex-grow: 1;
	color: #4f4e4e;
}

.footerMenu a:hover {
	text-decoration: underline;
}

.footerMenu li:last-child {
	-webkit-flex-grow: 3;		/* flex for  Safari 6.1+ */
	flex-grow: 3;
	font-size: 13.33px;
	padding: 12px 25px;
	text-align: right;
}