body {
	background: url('../img/background.png');
	font-family: Tahoma, sans-serif;
}

.wrapper {
	background: #fff;
	box-shadow: 0 4px 4px 0 #031d28;
	margin-left: 11.2%;
	width: 74.1%;
}

.google {
	margin: 0 auto;
	position: fixed;
	width: 100%;
	z-index: 10;
}

/*HEADER*/
header {
	color: #128aa7;
	position: relative;
}

.logo {
	position: absolute;
	top: 49px;
	left: 30px;
}

.textLogo {
	font-size: 12px;
	left: 100px;
	position: absolute;
	top: 147px;
	word-spacing: -2px;
}

.right {
	float: right;
}

.contacts {
	float: right;
	font-size: 12px;
	padding: 42px 30px 27px 20px;
}

.contacts li {
	margin: 6px;
}

.contacts li:first-child {
	font-weight: bold;
	margin-bottom: 8px;
}

.flags {
	clear: both;
	margin-right: 30px;
	padding-bottom: 64px;
}

.flags img {
	margin-bottom: -5px;
}

.flags li {
	float: left;
	text-align: center;
	margin: 0 8px;
}

.flags li:nth-child(5) {
	margin: 0 3px;
}

.flags li:last-child {
margin-left: 4px;
}

.flags li a {
	color: #128aa7;
	font-size: 10px;
}

header:after { 
	clear: both;
	content: '';
	display: block;
}

/*MAIN*/
.mainInform {
	position: relative;
	overflow: hidden;
	margin-top: -2px;
	display: table;
	height: 100%;
	width: 100.1%;
}

.mainInform:after {
	clear: both;
	content: '';
	display: block;
}

.photoBeach {
	border-bottom: 1px solid #138aa7;
	border-top: 1px solid #138aa7;
	width: 100%;
}

.mainMenu {
	background-color: #333333;
	border-bottom: 1px solid #000;
	border-top: 1px solid #cacbcb;
	box-shadow: 0 2px 2px #303030;
	position: absolute;
	width: 100%;
	vertical-align: top;
}

.mainMenu li{
	background-color: #333333;
	color: #fff;
	float: left;
	font-size: 14px;
	width: 13.5%;
	text-align: center;
}

.mainMenu>li a {
	display: block;
	width: 100%;
	padding: 7px 0;
	color: #fff;
	text-decoration: none;
}

.mainMenu:after {
	clear: both;
	content: '';
	display: block;
}

.mainMenu>li:nth-child(2),
.mainMenu>li:nth-child(3),
.mainMenu>li:nth-child(4) {
	position: relative;
	padding: 7px 0;
	cursor: pointer;
} 

.mainMenu>li:nth-child(2):after {
	content: url('../img/newTriangle.png');
	padding-left: 10px;
}

.mainMenu>li:nth-child(3):after {
	content: url('../img/newTriangle.png');
	padding-left: 10px;
}

.mainMenu>li:nth-child(4):after{
	content: url('../img/newTriangle.png');
	padding-left: 10px;
}

.mainMenu>li:nth-child(4) {
	padding-right: 20px;
}

.addMenu {
	box-shadow: 0 5px 5px #262727;
	padding-top: 8px;
	position: absolute;
 	display: none; 
}

.mainMenu>li:nth-child(2):hover .addMenuTravels,
.mainMenu>li:nth-child(3):hover .addMenuService,
.mainMenu>li:nth-child(4):hover .addMenu {
	display: block;
}

.addMenu li {
	line-height: 10px;
	padding-left: 10px;
	text-align: left;
}

.addMenu li:last-child {
	padding-bottom: 10px;
}

.addMenuTravels {
	left: 5px;
}

.addMenuTravels li {
	width: 140px;
}

.addMenuService {
	width: 110px;
	left: 25px;
}

.addMenuService li{
	width: 100px;
}

.addMenuPartners {
	width: 130px;
	left: 12px;
}

.addMenuPartners li {
	width: 120px;
}

.mainLeft, 
.mainRight {
	background: #edeef0;
	color: #424c43;
	font-size: 14px;
	line-height: 24px;
	padding: 35px 8px 10px 0;
	text-align: center;
	width: 20.1%;
}

.mainLeft .title, 
.mainRight .title {
	font-size: 18px;
	font-weight: 500;
	padding-bottom: 1px;
}

/*USING TABLE-CELL*/
.box {
	display: table-cell;
	vertical-align: top;
}

.center {
	width: 60%;
}

.mainRight {
	border-left: 1px solid #c7cacf;
}

.mainLeft {
	border-right: 1px solid #c7cacf;
	width: 20%;
}

/*FOOTER*/ 
footer p{
	color: #fff;
	font-size: 12px;
	margin: 10px auto;
	width: 247px;
}