.carousel-list {
	// position: relative;
	left: -225px;
	list-style: none;
	width: 100000px;
	padding: 0;
	position: relative;
}
.carousel-elem {
	display: block;
	float: left;
	margin-right: 25px;
}
.carousel-elem img {
	max-width: 200px;
}
.carousel-hider {
	width: 600px;
	overflow: hidden;
	float: left;
	border: 1px solid grey;
}
.carousel-arrow-right, .carousel-arrow-left {
	float: left;
	display: block;
	border: 1px solid grey;
	background: lightgrey;
	padding: 5px;
	margin-top: 75px;
}

.carousel-arrow-right:hover, .carousel-arrow-left:hover {
	cursor: pointer;
	background: grey;
}

.carousel-arrow-right {
	margin-left: 25px;
}

.carousel-arrow-left {
	margin-right: 25px;
}